<%# LOGIN NAVBAR %>
<div class="container-fluid" style="background-color: #617A55;">
  <% if user_signed_in? %>
    <ul class="nav justify-content-end" >
      <li class="nav-item">
        <%= link_to 'English', root_path(locale: :en), class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to '华语', root_path(locale: :"zh-CN"), class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-white" %>
      </li>
    </ul>
  <% else %>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to 'English', root_path(locale: :en), class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to '华语', root_path(locale: :"zh-CN"), class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
      </li>
    </ul>
  <% end %>
</div>
<%# LOGIN NAVBAR %>
