<%# HEADER/BANNER/NAVBAR %>
<div class="header">
  <div class="wrapper">
    <div class="row flex justify-content-between align-items-center py-5">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <%= image_tag(asset_path('guavaa.png'), class: "logo-img") %>
     </div>
     <div class="col-lg-6 col-md-12 col-sm-12" >
        <ul class="nav-area">
          <li><a href="#"><%= t("pages.home.home") %></a></li>
          <li><a href="#about"><%= t("pages.home.about") %></a></li>
          <li><a href="#products"><%= t("pages.home.products") %></a></li>
          <li><a href="#"><%= t("pages.home.FAQ") %></a></li>
          <li><a href="#contacts"><%= t("pages.home.contacts") %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="welcome-text">
    <h1><%= t '.header' %></h1>
    <p class="text-white"><%= t '.slogan' %></p>
    <a href="/users/sign_up"><%= t '.register' %></a>
  </div>
</div>

<%# BACK TO TOP %>
<div class="back-top"
     data-controller="backtop"
     data-action="scroll@window->backtop#updateButton">
  <a href="#" style="color: #A9907E;"><i class="fa-solid fa-circle-up button-top"></i></a>
</div>
<%# BACK TO TOP %>
<%# HEADER/BANNER/NAVBAR %>

<%# About %>
<div class="about" id="about">
  <div class="container-fluid py-5">
    <h4 class="fw-bold display-5 text-center py-3" data-aos="fade-up"><%= t '.about-content' %></h4>
    <div class="about-row row d-flex p-2 g-3 justify-content-around align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
        <p class="text-dark text-center about-text"><%= t '.about-content-first' %></p>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 bg-white">
        <div class="about-img shadow-effect" data-aos="fade-up" style="background-image: url('https://images.pexels.com/photos/1459331/pexels-photo-1459331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
        </div>
      </div>
    </div>
    <div class="about-row row d-flex p-2 g-3 justify-content-around align-items-center">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="about-img shadow-effect" data-aos="fade-up" style="background-image: url('https://images.pexels.com/photos/8668727/pexels-photo-8668727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 bg-white" data-aos="fade-left">
        <p class="text-dark text-center about-text"><%= t '.about-content-second' %></p>
      </div>
    </div>
    <div class="about-row row d-flex p-2 g-3 justify-content-around align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
        <p class="text-dark text-center about-text"><%= t '.about-content-third' %></p>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 bg-white">
        <div class="about-img shadow-effect" data-aos="fade-up" style="background-image: url('https://images.pexels.com/photos/8668726/pexels-photo-8668726.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
        </div>
      </div>
    </div>
  </div>
</div>
<%# About %>

<%# PRODUCTS %>
<div class="container-fluid" id="products">
  <div class="row vw-100 vh-50" style="background-color: #F7D060;">
  <h4 class="fw-bold display-5 text-center py-3" data-aos="fade-up"><%= t '.about-content' %></h4>
    <div class="col-lg-4 col-md-12 py-5" data-aos="fade-up">
      <article class="card mx-auto flex-center">
        <img
          class="card__background"
          src="https://images.unsplash.com/photo-1633349202776-39545fa23de7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title"><%= t '.product1' %></h2>
            <p class="card__description">
              <%= t '.product1-description' %>
            </p>
          </div>
          <a href=<%= "/products" %> class="card__button fw-bold text-dark text-decoration-none"><%= t '.readmore' %></a>
        </div>
      </article>
    </div>

    <div class="col-lg-4 col-md-12 py-5">
      <article class="card mx-auto flex-center" data-aos="fade-up">
        <img
          class="card__background"
          src="https://images.unsplash.com/photo-1629367308496-a2496ba22f88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title"><%= t '.product2' %></h2>
            <p class="card__description">
              <%= t '.product2-description' %>
            </p>
          </div>
           <a href=<%= "/products" %> class="card__button fw-bold text-dark text-decoration-none"><%= t '.readmore' %></a>
        </div>
      </article>
    </div>

    <div class="col-lg-4 col-md-12 py-5">
      <article class="card mx-auto flex-center" data-aos="fade-up">
        <img
          class="card__background"
          src="https://images.unsplash.com/photo-1571646302210-db7990b30751?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title"><%= t '.product3' %></h2>
            <p class="card__description">
              <%= t '.product3-description' %>
            </p>
          </div>
          <a href=<%= "/products" %> class="card__button fw-bold text-dark text-decoration-none"><%= t '.readmore' %></a>
        </div>
      </article>
    </div>
  </div>
</div>
<%# PRODUCTS %>

<%# CONTACT US %>
<div class="container" id="contacts">
  <div class="row d-flex g-lg-5 py-5 justify-content-between align-items-center">
    <div class="col-lg-6 p-5 map" data-aos="fade-right">
      <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-lg-6 flex flex-column" data-aos="fade-left">
      <div class="row g-2 py-3 flex justify-content-between align-items-center">
        <div class="col-lg-3 p-2 contact-icon text-center"><p><i class="fa-solid fa-phone"></i> <br>03-32410678 | 017-5556677</p></div>
        <div class="col-lg-4 p-2 contact-icon text-center"><p><i class="fa-solid fa-at"></i> <br>guavaaa1788@gmail.com | guavaaa1788@hotmail.com</p></div>
        <div class="col-lg-3 p-2 contact-icon text-center"><p><i class="fa-solid fa-location-dot"></i> <br>Site A, Sekinchan, Selangor</p></div>
      </div>
      <hr>
      <div class="contact p-1">
        <div class="bg-white m-3">
          <h1 class="text-center"><%= t '.contact' %></h1>
          <%= render "contacts/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# CONTACT US %>

<%# FOOTER %>
<%= render "shared/footer" %>
<%# FOOTER %>
