<%= turbo_frame_tag "carts" do %>
  <h1 class="text-center text-white"> Cart </h1>
  <% if @cart.orderables.count > 0 %>
    <% @cart.orderables.each do |orderable| %>
      <% product = orderable.product %>
        <div id="<%= "cart-#{product.id}" %>" class="bg-white m-2">
          <div class="p-3 row justify-content-around">
            <div class="col-lg-2" >
              <strong><%= product.name %></strong>
            </div>
            <div class="col-lg-8">
              <%= form_with(url: carts_add_in_cart_path) do |f| %>
                <%= f.hidden_field :id, value: product.id %>
                <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
                <%= f.submit "Confirm" %>
              <% end %>
            </div>
            <div class="col-lg-2">
              <strong>RM <%= orderable.total %></strong>
              <%= form_with(url: carts_remove_path) do |f| %>
                <%= f.hidden_field :id, value: orderable.id %>
                <%= f.submit "Cancel" %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
     <%= form_tag orders_path do %>
      <%= hidden_field_tag 'cart_id', @cart.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>
    <p><strong>**Noted on this is self pick-up service!**</strong></p>
    <p class="text-white fw-bold button-total">Total: <%= @cart.total %></p>
  <% else %>
    <p class="text-dark text-center mt-5">Your cart is empty. <i class="fa-regular fa-face-surprise"></i></p>
  <% end %>
<% end %>
