<% @cart.orderables.each do |orderable| %>
	<% product = orderable.product %>
	<div id="<%= "cart-#{product.id}" %>" >
		<div>
			<strong>Name:</strong>
			<%= product.name %>
	 		<strong>Description:</strong>
			<%= product.description %>
			<strong>Price:</strong>
			 <%= humanized_money_with_symbol(product.price) %>
		</div>

		<%= form_with(url: cart_add_path) do f %>
			<%= f.hidden_field :id, value: product.id %>
			<%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
			<%= f.submit "Add to Cart" %>
		<% end>

		<%= form_with(url: cart_remove_path) do f %>
			<%= f.hidden_field :id, value: orderable.id%>
			<%= f.submit "X" %>
		<% end>

		<strong>Total:</strong>
		<%= orderable.total %>
	</div>
<% end %>
