<div class="container-fluid payment-container vh-100">

  <div class="row justify-content-around">
    <div class="col-lg-6 payment-box p-3">
      <div class=""><%= cl_image_tag @order.product.photo.key, width: 400, height: 300, crop: :fill %></div>
      <div class="m-3 p-3" style="background-color:#D7C0AE;">
        <h3>Checkout summary</h3>
        <p>Purchase of <strong><%= @order.product.name %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
        <br>
        <button id="pay" class="btn btn-primary">Pay</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
  </div>

</div>
