<div class="container-fluid overall-background vh-100">
  <%# <div class="row d-flex justify-content-between bg-dark py-2">
    <a href="/#product" class="text-end fs-4" style="color: white;"><i class="fa-regular fa-circle-xmark"></i></a>
  </div> %>
  <div class="container">
    <div class="row d-flex justify-content-between p-3">
      <ol class="breadcrumb w-10 p-3" style="background: #99A98F;">
        <li class="breadcrumb-item "><a href="/" class="text-white">Home</a></li>
        <li class="breadcrumb-item text-white fw-bold active" aria-current="page">Products</li>
      </ol>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex jusfify-content-around align-items-center">
     <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @products.each do |product| %>
        <div class="col">
          <div class="card h-100">
            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
              <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text">
                <%= product.description %>
              </p>
              <div class="card-footer">
                <%= form_with url: orders_path do %>
                  <%= hidden_field_tag 'product_id', product.id %>
                  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%# <a href="/#product" class="text-end fs-4"><i class="fa-solid fa-cart-shopping"></i></a> %>
<%# <%= render "slideshow" %>
