<!DOCTYPE html>
<html>
  <head>
    <title>Guavaaa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.3.4/dist/aos.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(root_path)%>
    <%= yield %>
    <%# <%= render "shared/footer" %>
  </body>
</html>
